{{define "content"}}
    <h1>Register</h1>
    <form action="/reset_password/{{.Token}}" method="post" name="reset_password">
        <p><input class="form-control" type="password" name="pwd1" value="" placeholder="Password"></p>
        <p><input class="form-control" type="password" name="pwd2" value="" placeholder="Confirm Password"></p>
        <p><input class="btn btn-outline-primary" type="submit" name="submit" value="Reset"></p>
    </form>

    
    {{if .Errs}}
    <ul>
        {{range .Errs}}
            <li>{{.}}</li>
         {{end}}
    </ul>
    {{end}}
{{end}}
